<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor:pointer;" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/recipes']"
            routerLinkActive="router-link-active" >Recipes</a></li>
        <li class="nav-item"
          routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/shopping']"
            routerLinkActive="router-link-active" >Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" style="cursor:pointer;" >Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;" >Fetch</a></li>
            <li class="nav-item"><a class="nav-link" style="cursor:pointer;" >Save</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
